In [2]:
import pandas as pd
data1=pd.DataFrame({"apple":[30,11,45],"bananas":[21,54,841]})
print(data1)
print(list(data1))
data1.shape

   apple  bananas
0     30       21
1     11       54
2     45      841
['apple', 'bananas']

(3, 2)

In [3]:
data2=pd.DataFrame({'bob':['hey im bon','my age is 24','im from inida'],'padam':['hey im padam','my age is 26','im from inida']},index=['name','age','location'])
print(data2)
data2
data2.shape

                    bob          padam
name         hey im bon   hey im padam
age        my age is 24   my age is 26
location  im from inida  im from inida

(3, 2)

In [4]:
pd.Series([1,2,3,4,5],index=[1,2,3,4,5],name='padam')

1    1
2    2
3    3
4    4
5    5
Name: padam, dtype: int64

In [5]:
data3=pd.read_csv("Height_Weight.csv")
print(data3)
data3

    Height  Weight
0   121.92    28.0
1   124.46    28.1
2   127.00    28.2
3   129.54    28.3
4   132.08    28.4
5   134.62    28.5
6   137.16    35.2
7   139.70    37.6
8   142.24    40.0
9   144.78    42.6
10  147.32    44.9
11  149.86    47.6
12  152.40    49.9
13  154.94    52.6
14  157.48    54.9
15  160.02    57.6
16  162.56    59.9
17  165.10    62.6
18  167.64    64.8
19  170.18    67.6
20  172.72    69.8
21  175.26    72.6
22  177.80    74.8
23  180.34    77.5
24  182.88    79.8
25  185.42    82.5
26  187.96    84.8
27  190.50    87.5
28  193.04    89.8
29  195.58    92.5
30  198.12    94.8
31  200.66    97.5
32  203.20    99.8
33  205.00   102.5
34  208.00   104.8

    Height  Weight
0   121.92    28.0
1   124.46    28.1
2   127.00    28.2
3   129.54    28.3
4   132.08    28.4
5   134.62    28.5
6   137.16    35.2
7   139.70    37.6
8   142.24    40.0
9   144.78    42.6
10  147.32    44.9
11  149.86    47.6
12  152.40    49.9
13  154.94    52.6
14  157.48    54.9
15  160.02    57.6
16  162.56    59.9
17  165.10    62.6
18  167.64    64.8
19  170.18    67.6
20  172.72    69.8
21  175.26    72.6
22  177.80    74.8
23  180.34    77.5
24  182.88    79.8
25  185.42    82.5
26  187.96    84.8
27  190.50    87.5
28  193.04    89.8
29  195.58    92.5
30  198.12    94.8
31  200.66    97.5
32  203.20    99.8
33  205.00   102.5
34  208.00   104.8

In [6]:
data3=pd.read_csv("Height_Weight.csv",index_col=0)
print(data3)
data3

        Weight
Height
121.92    28.0
124.46    28.1
127.00    28.2
129.54    28.3
132.08    28.4
134.62    28.5
137.16    35.2
139.70    37.6
142.24    40.0
144.78    42.6
147.32    44.9
149.86    47.6
152.40    49.9
154.94    52.6
157.48    54.9
160.02    57.6
162.56    59.9
165.10    62.6
167.64    64.8
170.18    67.6
172.72    69.8
175.26    72.6
177.80    74.8
180.34    77.5
182.88    79.8
185.42    82.5
187.96    84.8
190.50    87.5
193.04    89.8
195.58    92.5
198.12    94.8
200.66    97.5
203.20    99.8
205.00   102.5
208.00   104.8

        Weight
Height
121.92    28.0
124.46    28.1
127.00    28.2
129.54    28.3
132.08    28.4
134.62    28.5
137.16    35.2
139.70    37.6
142.24    40.0
144.78    42.6
147.32    44.9
149.86    47.6
152.40    49.9
154.94    52.6
157.48    54.9
160.02    57.6
162.56    59.9
165.10    62.6
167.64    64.8
170.18    67.6
172.72    69.8
175.26    72.6
177.80    74.8
180.34    77.5
182.88    79.8
185.42    82.5
187.96    84.8
190.50    87.5
193.04    89.8
195.58    92.5
198.12    94.8
200.66    97.5
203.20    99.8
205.00   102.5
208.00   104.8

In [7]:
data3.shape

(35, 1)

In [8]:
data3.head(5)

        Weight
Height
121.92    28.0
124.46    28.1
127.00    28.2
129.54    28.3
132.08    28.4

In [9]:
data3.tail(2)

        Weight
Height
205.0    102.5
208.0    104.8

In [10]:
data3.info

<bound method DataFrame.info of         Weight
Height
121.92    28.0
124.46    28.1
127.00    28.2
129.54    28.3
132.08    28.4
134.62    28.5
137.16    35.2
139.70    37.6
142.24    40.0
144.78    42.6
147.32    44.9
149.86    47.6
152.40    49.9
154.94    52.6
157.48    54.9
160.02    57.6
162.56    59.9
165.10    62.6
167.64    64.8
170.18    67.6
172.72    69.8
175.26    72.6
177.80    74.8
180.34    77.5
182.88    79.8
185.42    82.5
187.96    84.8
190.50    87.5
193.04    89.8
195.58    92.5
198.12    94.8
200.66    97.5
203.20    99.8
205.00   102.5
208.00   104.8>

data3.describe()

In [11]:
data3['Weight']

Height
121.92     28.0
124.46     28.1
127.00     28.2
129.54     28.3
132.08     28.4
134.62     28.5
137.16     35.2
139.70     37.6
142.24     40.0
144.78     42.6
147.32     44.9
149.86     47.6
152.40     49.9
154.94     52.6
157.48     54.9
160.02     57.6
162.56     59.9
165.10     62.6
167.64     64.8
170.18     67.6
172.72     69.8
175.26     72.6
177.80     74.8
180.34     77.5
182.88     79.8
185.42     82.5
187.96     84.8
190.50     87.5
193.04     89.8
195.58     92.5
198.12     94.8
200.66     97.5
203.20     99.8
205.00    102.5
208.00    104.8
Name: Weight, dtype: float64

In [12]:
data4=pd.read_csv("patient.csv")
data4

,id,sex,birth_year,country,region,group,infection_reason,infection_order,infected_by,contact_number,confirmed_date,released_date,deceased_date,state
0,1,female,1984.0,China,filtered at airport,NaN,visit to Wuhan,1.0,NaN,45.0,20-01-2020,06-02-2020,NaN,released
1,2,male,1964.0,Korea,filtered at airport,NaN,visit to Wuhan,1.0,NaN,75.0,24-01-2020,05-02-2020,NaN,released
2,3,male,1966.0,Korea,capital area,NaN,visit to Wuhan,1.0,NaN,16.0,26-01-2020,12-02-2020,NaN,released
3,4,male,1964.0,Korea,capital area,NaN,visit to Wuhan,1.0,NaN,95.0,27-01-2020,09-02-2020,NaN,released
4,5,male,1987.0,Korea,capital area,NaN,visit to Wuhan,1.0,NaN,31.0,30-01-2020,NaN,NaN,isolated
5,6,male,1964.0,Korea,capital area,NaN,contact with patient,2.0,3.0,17.0,30-01-2020,19-02-2020,NaN,released
6,7,male,1991.0,Korea,capital area,NaN,visit to Wuhan,1.0,NaN,9.0,30-01-2020,15-02-2020,NaN,released
7,8,female,1957.0,Korea,Jeollabuk-do,NaN,visit to Wuhan,1.0,NaN,113.0,31-01-2020,12-02-2020,NaN,released
8,9,female,1992.0,Korea,capital area,NaN,contact with patient,2.0,5.0,2.0,31-01-2020,24-02-2020,NaN,released
9,10,female,1966.0,Korea,capital area,NaN,contact with patient,3.0,6.0,43.0,31-01-2020,19-02-2020,NaN,released
10,11,male,1995.0,Korea,capital area,NaN,contact with patient,3.0,6.0,0.0,31-01-2020,10-02-2020,NaN,released
11,12,male,1971.0,China,capital area,NaN,contact with patient in Japan,2.0,NaN,422.0,01-02-2020,18-02-2020,NaN,released
12,13,male,1992.0,Korea,filtered at airport,NaN,residence in Wuhan,1.0,NaN,0.0,02-02-2020,24-02-2020,NaN,released
13,14,female,1980.0,China,capital area,NaN,contact with patient,3.0,12.0,3.0,02-02-2020,18-02-2020,NaN,released
14,15,male,1977.0,Korea,capital area,NaN,contact with patient,2.0,4.0,15.0,02-02-2020,24-02-2020,NaN,released
15,16,female,1977.0,Korea,Gwangju,NaN,visit to Thailand,1.0,NaN,450.0,04-02-2020,19-02-2020,NaN,released
16,17,male,1982.0,Korea,capital area,NaN,contact with patient in Singapore,2.0,NaN,290.0,05-02-2020,12-02-2020,NaN,released
17,18,female,1999.0,Korea,Gwangju,NaN,contact with patient,2.0,16.0,8.0,05-02-2020,19-02-2020,NaN,released
18,19,male,1983.0,Korea,capital area,NaN,contact with patient in Singapore,2.0,NaN,68.0,05-02-2020,21-02-2020,NaN,released
19,20,female,1978.0,Korea,capital area,NaN,contact with patient,3.0,15.0,2.0,05-02-2020,24-02-2020,NaN,released
20,21,female,1960.0,Korea,capital area,NaN,contact with patient,3.0,6.0,6.0,05-02-2020,29-02-2020,NaN,released
21,22,male,1973.0,Korea,Gwangju,NaN,contact with patient,2.0,16.0,1.0,06-02-2020,15-02-2020,NaN,released
22,23,female,1962.0,China,capital area,NaN,visit to Wuhan,1.0,NaN,23.0,06-02-2020,29-02-2020,NaN,released
23,24,male,1992.0,Korea,filtered at airport,NaN,residence in Wuhan,1.0,NaN,0.0,06-02-2020,27-02-2020,NaN,released
24,25,female,1946.0,Korea,capital area,NaN,contact with patient,2.0,27.0,12.0,09-02-2020,NaN,NaN,isolated
25,26,male,1968.0,Korea,capital area,NaN,contact with patient,1.0,27.0,0.0,09-02-2020,NaN,NaN,isolated
26,27,female,1982.0,China,capital area,NaN,visit to China,1.0,NaN,40.0,09-02-2020,NaN,NaN,isolated
27,28,female,1989.0,China,capital area,NaN,contact with patient,2.0,3.0,1.0,10-02-2020,17-02-2020,NaN,released
28,29,male,1938.0,Korea,capital area,NaN,contact with patient,4.0,83.0,117.0,16-02-2020,NaN,NaN,isolated
29,30,female,1952.0,Korea,capital area,NaN,contact with patient,5.0,29.0,27.0,16-02-2020,NaN,NaN,isolated
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4182,4183,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4183,4184,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4184,4185,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4185,4186,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4186,4187,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4187,4188,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4188,4189,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4189,4190,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4190,4191,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4191,4192,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4192,4193,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4193,4194,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4194,4195,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4195,4196,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4196,4197,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4197,4198,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4198,4199,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4199,4200,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4200,4201,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4201,4202,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4202,4203,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4203,4204,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4204,4205,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4205,4206,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4206,4207,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4207,4208,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4208,4209,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4209,4210,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4210,4211,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated
4211,4212,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,01-03-2020,NaN,NaN,isolated

In [13]:
data4.shape

(4212, 14)

In [14]:
data4["sex"]

0       female
1         male
2         male
3         male
4         male
5         male
6         male
7       female
8       female
9       female
10        male
11        male
12        male
13      female
14        male
15      female
16        male
17      female
18        male
19      female
20      female
21        male
22      female
23        male
24      female
25        male
26      female
27      female
28        male
29      female
         ...
4182       NaN
4183       NaN
4184       NaN
4185       NaN
4186       NaN
4187       NaN
4188       NaN
4189       NaN
4190       NaN
4191       NaN
4192       NaN
4193       NaN
4194       NaN
4195       NaN
4196       NaN
4197       NaN
4198       NaN
4199       NaN
4200       NaN
4201       NaN
4202       NaN
4203       NaN
4204       NaN
4205       NaN
4206       NaN
4207       NaN
4208       NaN
4209       NaN
4210       NaN
4211       NaN
Name: sex, Length: 4212, dtype: object

In [15]:
data4.iloc[1]

id                                    2
sex                                male
birth_year                         1964
country                           Korea
region              filtered at airport
group                               NaN
infection_reason         visit to Wuhan
infection_order                       1
infected_by                         NaN
contact_number                       75
confirmed_date               24-01-2020
released_date                05-02-2020
deceased_date                       NaN
state                          released
Name: 1, dtype: object

In [16]:
data4.loc[1, 'country']

'Korea'

In [24]:
data4.iloc[:,1]

0       female
1         male
2         male
3         male
4         male
5         male
6         male
7       female
8       female
9       female
10        male
11        male
12        male
13      female
14        male
15      female
16        male
17      female
18        male
19      female
20      female
21        male
22      female
23        male
24      female
25        male
26      female
27      female
28        male
29      female
         ...
4182       NaN
4183       NaN
4184       NaN
4185       NaN
4186       NaN
4187       NaN
4188       NaN
4189       NaN
4190       NaN
4191       NaN
4192       NaN
4193       NaN
4194       NaN
4195       NaN
4196       NaN
4197       NaN
4198       NaN
4199       NaN
4200       NaN
4201       NaN
4202       NaN
4203       NaN
4204       NaN
4205       NaN
4206       NaN
4207       NaN
4208       NaN
4209       NaN
4210       NaN
4211       NaN
Name: sex, Length: 4212, dtype: object